div.container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 25px 10px;
}

div.input-container {
  padding: 10px;
  flex: 100%;
}

div.input-container > span,
input,
button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin: 0 5px;
  font-size: 16px;
}

div.input-container > span {
  color: rgb(216, 170, 178);
  font-size: 20px;
}

div.input-container > button {
  background-color: rgb(129, 198, 207);
  color: rgb(15, 15, 105);
}

div.create-element {
  margin: 5px 0;
  padding: 30px;
  text-align: center;
  flex-basis: 100%;
  background-color: pink;
  color: rgb(66, 8, 47);
  border: 2.5px solid rgb(240, 44, 175);
}
