* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(
    to bottom right,
    rgb(63, 17, 63),
    rgb(33, 4, 87),
    rgb(40, 99, 148)
  );
  background-repeat: no-repeat;
}
